
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes terminal-blink {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    background-color: rgb(19,27,30);
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100dvh;
}

.start-form {
    
    color: rgb(77,118,88);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-family: 'VT323', monospace;

    animation: terminal-blink 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;

}

.title {
    font-size: 51px;
    margin-bottom: 23px;
}

.options {
    display: flex;
    font-size: 23px;
    margin-bottom: 25px;
}

.option {
    border-bottom: 3px solid rgb(77,118,88);
    width: 200px;

    display: flex;
    justify-content: center;
    padding-bottom: 10px;

    cursor: pointer;
}

.selected {
    border-bottom: 3px solid rgb(128, 195, 146);
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs input {
    all: unset;
    border-bottom: 2px solid rgb(77,118,88);
    margin-bottom: 25px;
    height: 55px;

    font-size: 23px;
}

.inputs label {
    font-family: 'Montserrat', sans-serif;;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

button {
    all: unset;
    width: calc(100% - 10px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 23px;
    border: 5px solid rgb(77,118,88);
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: double;
}

button:hover {
    /* background-color: rgba(19, 27, 30, 0.548); */
    color: rgb(151,87,87);
}

.message {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ====================================================================================== */

/* .start-form {
    border-radius: 5px;
    gap: 15px;
}

.title {
    font-size: 51px;
    margin-bottom: 23px;
}

.options {
    font-size: 23px;
    margin-bottom: 25px;
}

.option {
    border-bottom: 3px solid rgb(77,118,88);
    width: 200px;
    padding-bottom: 10px;
}

.selected {
    border-bottom: 3px solid rgb(128, 195, 146);
}

.inputs input {
    border-bottom: 2px solid rgb(77,118,88);
    margin-bottom: 25px;
    height: 55px;
    font-size: 23px;
}

.inputs label {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

button {
    width: calc(100% - 10px);
    font-size: 23px;
    border: 5px solid rgb(77,118,88);
    padding-top: 8px;
    padding-bottom: 8px;
} */

@media (max-width: 1600px) {
    .start-form {
        border-radius: 4px;
        gap: 12px;
    }
    
    .title {
        font-size: 42px;
        margin-bottom: 19px;
    }
    
    .options {
        font-size: 19px;
        margin-bottom: 21px;
    }
    
    .option {
        border-bottom: 2px solid rgb(77,118,88);
        width: 167px;
        padding-bottom: 8px;
    }
    
    .selected {
        border-bottom: 2px solid rgb(128, 195, 146);
    }
    
    .inputs input {
        border-bottom: 2px solid rgb(77,118,88);
        margin-bottom: 21px;
        height: 46px;
        font-size: 19px;
    }
    
    .inputs label {
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    button {
        width: calc(100% - 8px);
        font-size: 19px;
        border: 4px solid rgb(77,118,88);
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .message {
        font-size: 20px;
    }
}
  
@media (max-width: 1366px) {
    .start-form {
        border-radius: 3px;
        gap: 11px;
    }
    
    .title {
        font-size: 36px;
        margin-bottom: 16px;
    }
    
    .options {
        font-size: 16px;
        margin-bottom: 18px;
    }
    
    .option {
        border-bottom: 2px solid rgb(77,118,88);
        width: 142px;
        padding-bottom: 7px;
    }
    
    .selected {
        border-bottom: 2px solid rgb(128, 195, 146);
    }
    
    .inputs input {
        border-bottom: 1px solid rgb(77,118,88);
        margin-bottom: 18px;
        height: 39px;
        font-size: 16px;
    }
    
    .inputs label {
        font-size: 7px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    
    button {
        width: calc(100% - 7px);
        font-size: 16px;
        border: 3px solid rgb(77,118,88);
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .message {
        font-size: 17px;
    }
}
  
@media (max-width: 912px) and (orientation: portrait) {

}
  
@media (max-width: 500px) and (orientation: portrait) {
    
}