
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes terminal-blink {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.start-form-background {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    
    background-color: rgb(12, 18, 19);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-form {
    display: flex;

    width: 21.87rem;
    
    border-radius: 0.31rem;
    
    
    font-family: 'VT323', monospace;
    color: rgb(77,118,88);

    flex-direction: column;
    align-items: center;
    gap: 0.94rem;

    animation: terminal-blink 0.5s;
    animation-fill-mode: forwards;

    opacity: 0;

}

.title {
    width: 100%;
    font-size: 3.19rem;
    margin-bottom: 1.44rem;

    text-align: center;
}

.options {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.44rem;
    margin-bottom: 1.56rem;
}

.option {
    border-bottom: 0.19rem solid rgb(77,118,88);
    width: 50%;

    display: flex;
    justify-content: center;
    padding-bottom: 0.62rem;

    cursor: pointer;
}

.selected {
    border-bottom: 0.19rem solid rgb(128, 195, 146);
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs input {
    all: unset;
    border-bottom: 0.12rem solid rgb(77,118,88);
    margin-bottom: 1.56rem;
    height: 3.44rem;

    font-size: 0.81rem;

    color: rgb(106, 116, 109);
}

.inputs label {
    color: rgb(58, 112, 73);
    font-family: 'Montserrat', sans-serif;;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
}

button {
    all: unset;
    width: calc(100% - 0.37rem);

    cursor: pointer;
    display: flex;
    justify-content: center;

    border: 0.19rem solid rgb(77,118,88);
    font-size: 1.37rem;
    padding-top: 0.62rem;
    padding-bottom: 0.62rem;
    border-radius: 1.25rem;
}

button:hover {
    color: rgb(151,87,87);
}

.server-off {
    height: 2rem;
    text-align: center;
    width: 100%;
    color: rgb(151,87,87);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-on {
    height: 2rem;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1600px) {
}
  
@media (max-width: 1366px) {
}
  
@media (max-width: 912px) and (orientation: portrait) {
}
  
@media (max-width: 500px) and (orientation: portrait) {
    .start-form-container {
        position: fixed;
        height: 100vh;
    }
}