.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.grid {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.col {
    outline: 1px solid rgb(21, 246, 0);
    outline-offset: -1px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
}

.item {
    outline: 1px solid red;
    outline-offset: -1px;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.line {
    height: 20px;
}

.start-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-form {
    outline: 1px solid rgb(0, 0, 0);

    padding: 30px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.start-form-title {
    padding-bottom: 5px;
}

.start-form-input {
    outline: 1px solid black;

    padding: 10px;
    border-radius: 15px;

}