@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@keyframes move-arrow {
    0% {
      left: 5px; /* posición inicial de la flecha fuera del contenedor del texto */
    }
    50% {
      left: 0%; /* posición media de la flecha apuntando al comienzo del texto */
    }
    100% {
      left: 5px; /* posición final de la flecha apuntando al final del texto */
    }
}
  
@keyframes rotate {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(360deg);
    }
}

.arrow {
    position: relative;
    width: 22px;
}

.host-arrow {
    margin-left: 5px;
}


.host-arrow::after {
    content: "<";
    position: absolute;
    transform-origin: center center;
    animation-name: move-arrow, rotate;
    animation-duration: 1s, 4s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, infinite;
}

.guest-arrow::after {
    content: ">";
    position: absolute;
    transform-origin: center center;
    animation-name: move-arrow, rotate;
    animation-duration: 1s, 4s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, infinite;
}




.App {

    font-family: 'VT323', monospace;
    border: 1px solid rgba(77, 118, 88, 0.154);
    border-radius: 17px;
    color: rgb(142,163,145);
    background-color: rgb(19,27,30);;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ROOM PANEL */

.room-panel {

    display: flex;
    gap: 50px;
    font-size: 30px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    padding-bottom: 10px;
}

/* SESSION PANEL */
.versus-panel {
    /* border: 1px solid black; */
    /* width: 1020px; */
    width: 100%;

    height: 30px;

    margin-bottom: 0px;
    position: relative;
    display: flex;
    /* overflow: hidden; */
    gap: 1%;

}
.player-panel {
    height: 100%;
    width: 50%;
    position: relative;

    border: 2px solid rgb(66, 102, 76);
    padding: 5px;
    
}

#host {
    /* border-top-left-radius: 25px;
    border-bottom-left-radius: 0px; */
}
#guest {
    /* border-top-right-radius: 25px;
    border-bottom-right-radius: 0px; */
}
.player-name {
    height: 85%;
    /* border-bottom: 1px solid black; */

    display: flex;
    align-items: center;
    padding-left: 15px;
}
.player-health {
    height: 15%;
    position: relative;

}
.host-health {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background-color: rgb(111, 255, 111);
    background-color: rgb(151,87,87);
    position: relative;
}
.guest-health {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    background-color: rgb(111, 255, 111);
    background-color: rgb(151,87,87);
    position: relative;
}
.health-red {
    height: 100%;
    background-color: rgb(151,87,87);
    background-color: rgb(19,27,30);
    width: 0px;
}

/* .host-name {
    background-color: rgba(144, 238, 144, 0.131);
}
.guest-name {
    background-color: rgba(175, 238, 238, 0.122);
    justify-content: flex-end;
    padding-right: 15px;
} */

/* DAMAGE COUNT */

.damage-count {
    /* outline: 1px solid rgba(255, 0, 0, 0.163); */
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;

    font-size: 24px;
}

.host-damage-count {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guest-damage-count {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daño {
    color: rgb(151,87,87);
}

.names {
    /* outline: 1px solid rgba(255, 0, 0, 0.147); */
    display: flex;
    width: 100%;

    margin-top: 18px;
    font-size: 24px;
}

.name {
    width: 50%;
}

.guest-name {
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
}

.host-name {
    padding-left: 3px;
}

.winner {
    /* outline: 1px solid rgba(255, 0, 0, 0.121); */
    position: relative;
    bottom: 10px;
    font-size: 31px;
    height: 31px;
    padding: 15px;
    padding-top: 0px;
}

/* PLAYGROUND PANEL */
.playground {
    /* outline: 1px solid rgb(91, 91, 91); */
    display: flex;
    /* padding-top: 35px;
    padding-bottom: 35px; */
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    justify-content: center;

    width: 100%;
}
.playground-actions {
    padding: 25px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.playground-button {
    width: 110px;
    height: 40px;
    border: 1px solid black;
    font-size: 21px;
    /* border-radius: 15px; */
    border: 5px solid rgb(77,118,88);
    border-style: double;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.playground-button:hover {
    color: rgb(151,87,87);
}

.playground-result {
    /* outline: 1px solid red; */
    background-color: rgb(76,120,87);
    border-radius: 15px;
    width: 420px;
    height: 420px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(0,17,16);

    border-radius: 15px;
    overflow: hidden;

}
.formed-word {
    outline: 1px solid black;
    outline-offset: -1px;
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    /* height: 27px; */
    height: 28px;

    font-size: 27px;

    display: flex;
    align-items: center;

    background-color: rgb(76,120,87);
}

.definitions {

    /* border-radius: 15px; */
    /* min-height: 75%; */
    font-size: 23px;
    /* height: calc(100% - 65px); */
    padding: 20px;
    padding-top: 0px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    background-color: rgb(76,120,87);

}


.grid {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

.col {
    outline: 1px solid rgb(0, 0, 0);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;
}

.item {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -1px;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    color: rgb(19,27,30);
    font-size: 27px;
}

.item:hover {
    color: rgb(155, 40, 40);
}

.line {
    height: 20px;
}

.start-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FORMULARIO DE INICIO */

.start-form-container {
    z-index: 10;
    background-color: rgb(19,27,30);
}

/* .start-form {

    background-color: rgb(171,209,174);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.start-form-input-container {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.794);
    padding: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container-iddle {
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.start-form-input {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 7px;
}
.start-form input {
    all: unset;

    width: 200px;
    height: 30px;

    border: 1px solid rgb(158, 158, 158);
    border-radius: 15px;

    padding-left: 12px;

    font-size: 18px;
}
.start-form input:focus {
    border: 1px solid rgb(86, 86, 86);
}
.start-form button {
    all: unset;
    position: absolute;
    right: 1px;
    top: 1px;
    height: 30px;
    width: 50px;

    background-color: rgb(210, 210, 210);

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
 */

