@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@keyframes move-arrow {
    0% {
      left: 5px; /* posición inicial de la flecha fuera del contenedor del texto */
    }
    50% {
      left: 0%; /* posición media de la flecha apuntando al comienzo del texto */
    }
    100% {
      left: 5px; /* posición final de la flecha apuntando al final del texto */
    }
}
  
@keyframes rotate {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(360deg);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes parpadeo {
    0% {
      opacity: 0.7;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.7;
    }
}

.parpadeo {
    animation: parpadeo 0.8s infinite;
}

.arrow {
    position: relative;
    width: 22px;
}

.host-arrow {
    margin-left: 5px;
}


.host-arrow::after {
    content: "<";
    position: absolute;
    transform-origin: center center;
    animation-name: move-arrow, rotate;
    animation-duration: 1s, 4s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, infinite;
}

.guest-arrow::after {
    content: ">";
    position: absolute;
    transform-origin: center center;
    animation-name: move-arrow, rotate;
    animation-duration: 1s, 4s;
    animation-timing-function: ease-in-out, linear;
    animation-iteration-count: infinite, infinite;
}




.App {
    font-family: 'VT323', monospace;
    border: 1px solid rgba(77, 118, 88, 0.154);
    border-radius: 17px;
    color: rgb(142,163,145);
    background-color: rgb(19,27,30);
    
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

/* .App::after {
    content: "WORDS BATTLE";
    position: absolute;
    top: -93px;
    font-size: 65px;
} */

/* ROOM PANEL */

.room-panel {

    display: flex;
    gap: 50px;
    font-size: 30px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    padding-bottom: 10px;
}

/* SESSION PANEL */
.versus-panel {
    width: 100%;

    height: 30px;

    margin-bottom: 0px;
    position: relative;
    display: flex;
    gap: 1%;

}
.player-panel {
    height: 100%;
    width: 50%;
    position: relative;

    border: 2px solid rgb(66, 102, 76);
    padding: 5px;
    
}

.player-name {
    height: 85%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.player-health {
    height: 100%;
    position: relative;

}
.host-health {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background-color: rgb(111, 255, 111);
    background-color: rgb(151,87,87);
    position: relative;
}
.host-counter {
    /* outline: 1px solid red; */
    /* width: 100%;
    height: 100%; */

    /* align-items: center;
    justify-content: flex-start; */
    position: absolute;
    left: 0px;

    padding-left: 5px;
    padding-top: 2px;

    color: rgb(210, 210, 210);
}

.guest-counter {
    /* outline: 1px solid red; */
    /* width: 100%;
    height: 100%; */

    /* align-items: center;
    justify-content: flex-end; */
    position: absolute;
    right: 0px;


    padding-right: 5px;
    padding-top: 2px;

    color: rgb(210, 210, 210);
}

.guest-health {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    background-color: rgb(111, 255, 111);
    background-color: rgb(151,87,87);
    position: relative;
}
.health-red {
    height: 100%;
    background-color: rgb(151,87,87);
    background-color: rgb(19,27,30);
    width: 0px;

    transition: width 0.2s;
}

/* DAMAGE COUNT */

.damage-count {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;

    font-size: 24px;
}

.host-damage-count {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guest-damage-count {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.daño {
    color: rgb(151,87,87);
}

.names {
    /* outline: 1px solid rgba(255, 0, 0, 0.147); */
    display: flex;
    width: 100%;

    margin-top: 18px;
    font-size: 24px;
}

.name {
    width: 50%;
}

.guest-name {
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
}

.host-name {
    padding-left: 3px;
}

.winner {
    position: relative;
    bottom: 10px;
    font-size: 31px;
    height: 31px;
    padding: 15px;
    padding-top: 0px;
}

/* PLAYGROUND PANEL */
.playground {

    display: flex;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    justify-content: center;

    width: 100%;
}
.playground-actions {
    padding: 25px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.playground-button {
    width: 110px;
    height: 40px;
    border: 1px solid black;
    font-size: 21px;
    border: 5px solid rgb(77,118,88);
    border-style: double;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.playground-button:hover {
    color: rgb(151,87,87);
}

.playground-result {
    background-color: rgb(76,120,87);
    border-radius: 15px;
    width: 420px;
    height: 420px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(0,17,16);

    border-radius: 15px;
    overflow: hidden;

}
.formed-word {
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    height: 28px;

    font-size: 27px;

    display: flex;
    align-items: center;

    background-color: rgb(76,120,87);
}

.definitions {
    font-size: 23px;
    padding: 20px;
    padding-top: 0px;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    background-color: rgb(76,120,87);

    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.definitions::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


.definition {
    /* animation: fadeIn 0.5s ease-in-out;
    animation-delay: 1s; */
}



.grid {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}

.col {
    /* outline: 1px solid rgb(0, 0, 0); */

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-end;

    position: relative; /* TEST */
}

.item {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -1px;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    color: rgb(19,27,30);
    font-size: 27px;
}

.item:hover {
    color: rgb(155, 40, 40);
}

.line {
    height: 20px;
}

.start-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FORMULARIO DE INICIO */

.start-form-container {
    z-index: 10;
    background-color: rgb(19,27,30);
}


/* ======================================================================= */

/* @keyframes move-arrow {
    0% {
      left: 5px;
    }
    50% {
      left: 0%;
    }
    100% {
      left: 5px;
    }
}

.arrow {
    position: relative;
    width: 22px;
}

.host-arrow {
    margin-left: 5px;
}

.App {
    border: 1px solid rgba(77, 118, 88, 0.154);
    border-radius: 17px;
    
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.room-panel {
    gap: 50px;
    font-size: 30px;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 10px;
}

.versus-panel {
    width: 100%;
    height: 30px;
}

.player-panel {
    width: 50%;
    border: 2px solid rgb(66, 102, 76);
    padding: 5px;
    
}

.player-name {
    padding-left: 15px;
}

.player-health {
    height: 15%;
}

.damage-count {
    height: 50px;
    font-size: 24px;
}

.names {
    margin-top: 18px;
    font-size: 24px;
}

.guest-name {
    padding-right: 3px;
}

.host-name {
    padding-left: 3px;
}

.winner {
    bottom: 10px;
    font-size: 31px;
    height: 31px;
    padding: 15px;
}

.playground {
    border-radius: 15px;
}

.playground-actions {
    padding: 25px;
    gap: 25px;
}
.playground-button {
    width: 110px;
    height: 40px;
    border: 1px solid black;
    font-size: 21px;
    border: 5px solid rgb(77,118,88);
    border-radius: 3px;
}

.playground-result {
    border-radius: 15px;
    width: 420px;
    height: 420px;
    border-radius: 15px;
}
.formed-word {
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
    height: 28px;
    font-size: 27px;
}

.definitions {
    font-size: 23px;
    padding: 20px;
    width: calc(100% - 40px);
    gap: 15px;
}

.grid {
    border-radius: 15px;
}

.item {
    width: 70px;
    height: 70px;
    font-size: 27px;
}

.line {
    height: 20px;
} */


@media (max-width: 1600px) {
    @keyframes move-arrow {
        0% {
          left: 4px;
        }
        50% {
          left: 0%;
        }
        100% {
          left: 4px;
        }
    }
    
    .arrow {
        position: relative;
        width: 18px;
    }
    
    .host-arrow {
        margin-left: 4px;
    }
    
    .App {
        border: 1px solid rgba(77, 118, 88, 0.154);
        border-radius: 14px;
        
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
    }
    
    .room-panel {
        gap: 42px;
        font-size: 25px;
        height: 42px;
        border-top-left-radius: 21px;
        border-top-right-radius: 21px;
        padding-bottom: 8px;
    }
    
    .versus-panel {
        width: 100%;
        height: 25px;
    }
    
    .player-panel {
        width: 50%;
        border: 2px solid rgb(66, 102, 76);
        padding: 4px;
        
    }
    
    .player-name {
        padding-left: 12px;
    }
    
    .player-health {
        height:100%;
    }
    
    .damage-count {
        height: 42px;
        font-size: 20px;
    }
    
    .names {
        margin-top: 15px;
        font-size: 20px;
    }
    
    .guest-name {
        padding-right: 2px;
    }
    
    .host-name {
        padding-left: 2px;
    }
    
    .winner {
        bottom: 8px;
        font-size: 26px;
        height: 26px;
        padding: 12px;
    }
    
    .playground {
        border-radius: 12px;
    }
    
    .playground-actions {
        padding: 21px;
        gap: 21px;
    }
    .playground-button {
        width: 92px;
        height: 33px;
        border: 1px solid black;
        font-size: 21px;
        border: 4px solid rgb(77,118,88);
        border-radius: 2px;
    }
    
    .playground-result {
        border-radius: 12px;
        width: 350px;
        height: 350px;
        border-radius: 12px;
    }
    .formed-word {
        width: calc(100% - 17px);
        padding-left: 17px;
        padding-top: 17px;
        padding-bottom: 12px;
        height: 23px;
        font-size: 22px;
    }
    
    .definitions {
        font-size: 19px;
        padding: 17px;
        width: calc(100% - 33px);
        gap: 12px;
    }
    
    .grid {
        border-radius: 12px;
    }
    
    .item {
        width: 58px;
        height: 58px;
        font-size: 22px;
    }
    
    .line {
        height: 17px;
    }
}
  
@media (max-width: 1366px) {
    @keyframes move-arrow {
        0% {
          left: 4px;
        }
        50% {
          left: 0%;
        }
        100% {
          left: 4px;
        }
    }
    
    .arrow {
        position: relative;
        width: 16px;
    }
    
    .host-arrow {
        margin-left: 4px;
    }
    
    .App {
        border: 1px solid rgba(77, 118, 88, 0.154);
        border-radius: 12px;
        
        padding-left: 11px;
        padding-right: 11px;
        padding-bottom: 11px;
    }
    
    .room-panel {
        gap: 36px;
        font-size: 21px;
        height: 36px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        padding-bottom: 7px;
    }
    
    .versus-panel {
        width: 100%;
        height: 21px;
    }
    
    .player-panel {
        width: 50%;
        border: 1px solid rgb(66, 102, 76);
        padding: 4px;
        
    }
    
    .player-name {
        padding-left: 11px;
    }
    
    .player-health {
        height: 100%;
    }
    
    .damage-count {
        height: 36px;
        font-size: 17px;
    }
    
    .names {
        margin-top: 13px;
        font-size: 17px;
    }
    
    .guest-name {
        padding-right: 2px;
    }
    
    .host-name {
        padding-left: 2px;
    }
    
    .winner {
        bottom: 7px;
        font-size: 22px;
        height: 22px;
        padding: 11px;
    }
    
    .playground {
        border-radius: 11px;
    }
    
    .playground-actions {
        padding: 18px;
        gap: 18px;
    }
    .playground-button {
        width: 78px;
        height: 28px;
        border: 1px solid black;
        font-size: 15px;
        border: 4px solid rgb(77,118,88);
        border-radius: 2px;
    }
    
    .playground-result {
        border-radius: 11px;
        width: 299px;
        height: 299px;
        border-radius: 11px;
    }
    .formed-word {
        width: calc(100% - 14px);
        padding-left: 14px;
        padding-top: 14px;
        padding-bottom: 11px;
        height: 20px;
        font-size: 19px;
    }
    
    .definitions {
        font-size: 16px;
        padding: 14px;
        width: calc(100% - 28px);
        gap: 11px;
    }
    
    .grid {
        border-radius: 11px;
    }
    
    .item {
        width: 50px;
        height: 50px;
        font-size: 19px;
    }
    
    .line {
        height: 14px;
    }
}
  
@media (max-width: 912px) and (orientation: portrait) {

}
  
@media (max-width: 500px) and (orientation: portrait) {
    .start-form-container {
        position: fixed;
        height: 100vh;
    }

    .App {
        outline-offset: -3px;
        margin: 2px;
    }

    .player-health {
        height: 100%;
        position: relative;
    
    }

    .playground {
        /* outline: 1px solid blue; */
        flex-direction: column;
    }

    .grid {
        /* outline: 5px solid red; */
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* grid-template-rows: repeat(6, 1fr); */
        /* grid-auto-columns: 1fr; */
    }

    .item {
        /* outline: 1px solid rgb(225, 14, 14); */
        outline: 1px solid rgba(19, 27, 30, 0.882);
        outline-offset: -1px;
        /* width: 70px;
        height: 70px; */
        width: 100%;
        height: 13vw;

        /* min-width: 50px; */
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .damage-count {
        position: relative;
        top: 15px;
    }

    .playground-actions {
        flex-direction:row;
    }

    .playground-button {
        border: 3px solid rgb(77,118,88);
        border-style: double;
    }

    .playground-result {
        /* outline: 1px solid blue; */
        width: 100%;
        position: relative;
    }

    .formed-word {
        /* outline: 1px solid red; */
        outline-offset: -1px;
        /* width: 100%; */
        font-size: 21px;
    }

    .definition {
        font-size: 18px;
    }

   
}


