


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* background-color: rgb(19,27,30); */
  background-color: rgb(102,119,95);
  background-color: rgb(14,14,14);
}

.pointer {
  cursor: pointer;
}

@media (max-width: 500px) and (orientation: portrait) {
  body {
    min-height: 100vh;
    display:block;
  }   
}

