.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.grid {
    border: 1px solid black;
    width: 700px;
    height: 700px;

    display: flex;
    justify-content: center;

}

.col {
    outline: 1px solid rgb(21, 246, 0);
    outline-offset: -1px;
    height: 100%;
    width: 100px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
}

.item {
    outline: 1px solid red;
    outline-offset: -1px;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}